@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-font-primary: #2ca5e9;
    --color-font-second: #746ff0;
    --color-succes:  #61bb55;
    --color-favotite: rgb(233, 64, 64);
    --color-favorite-hover:  rgba(233, 64, 64, 0.75); 
    --bg-primary : #21193f;
    --bg-second: #121212;
    --bg-card: #334155; 
    --color-font: rgb(209 ,213 ,219);
    --color-desactive: #676d7d;
    --color-active: #f59d43;
}
html{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {

    background: var(--bg-card);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-font);
    border-radius: 0.5rem;
}

input, textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.6rem;
    background-color: var(--bg-card);
    color: var(--color-font);
    font-size: 0.9rem;
    border-radius: 0.2rem;
    resize: none;
}
textarea{
    height: 90px;
}


input::placeholder{
    color: var(--color-desactive) ;
}

.sub-title{
    font-size: 0.9rem;
    color: var(--color-font-primary);
    
}

.icon-success{
    color: var(--color-font-primary);
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.d-content{
    padding: 0.5rem;
    height:  calc(100% - 200px);
    position: relative;
    flex-direction: column;
    align-items: flex-start;
}

.start{
    justify-content: start;
    gap: 0.5rem;
}

.btn_add{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 5%;
}

.btn_add .favorite{
    display: flex ;
    justify-content: center ;
    width: 110px;
    align-items: center  ;
    border: 1px solid  var(--color-font-primary);
    border-radius: 0.2rem;
    gap: 0.5rem;
    padding: 0.5rem 1rem ;
    font-size: 0.8rem;
    color: var(--color-font) ;
    font-weight: 500;
}

.btn_add button svg{
    color:   var(--color-favotite);
    font-size: 1rem;
    
}
.btn_add.no-favorite svg{
    color:    var(--color-favorite-hover); 
} 

.text-l{
    font-size: 1.5rem !important;
}

@media screen and (max-width: 468px) {
    .btn_add{
        right: 3%;
    }
    .btn_add button{
        font-size: 0.8rem;
        gap: 0.2rem;
        padding: 0.5rem .8rem ;
    }   
}

.icons-start svg{
    color:  var(--color-desactive);
}
.icons-start svg.active {
    color: var(--color-active) ; 
}   



.hr_vert{
    border: 1.2px solid  var(--bg-card);
    height: 20px;
}   

.contact_btn{
    position: absolute;
    top: 0;
    left: 5%;
    bottom: 0;
}

.ver-hid{
    overflow: hidden;
}
.contact-btn{
    display: flex ;
    justify-content: center ;
    width: 110px;
    align-items: center  ;
    border: 1px solid  var(--color-font-second);
    border-radius: 0.2rem;
    gap: 0.5rem;
    padding: 0.5rem 1rem ;
    font-size: 0.8rem;
    color: var(--color-font);
    font-weight: 500;
}


.group-input{
    width: 100%;
    padding:  0.5rem 1rem;
}

.form_footer{
    padding: 0.5rem 0;
    justify-content: space-between;
    padding: 0.5rem 1rem 0  ;
}

.form_footer button {
    color: var(--color-desactive);
    padding: 0.6rem 1rem;
    background-color: var(--color-font-second);
    width: 120px;
    border-radius: 0.2rem;
}
.form_footer button.cancel{
    background-color: rgb(155, 39, 39);
}

.form_footer button:hover{
    color: var(--color-font);
    transition: 0.3s ease;
}